trunk/webapps/deegree/pdok/workspace/appschemas/annex1/all/ProtectedSitesNatura2000.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:ps-f="urn:x-inspire:specification:gmlas:ProtectedSitesFull:3.0" xmlns:ps-n2000="urn:x-inspire:specification:gmlas:ProtectedSitesNatura2000:3.0" elementFormDefault="qualified" targetNamespace="urn:x-inspire:specification:gmlas:ProtectedSitesNatura2000:3.0" version="3.0">
  <import namespace="urn:x-inspire:specification:gmlas:ProtectedSitesFull:3.0" schemaLocation="ProtectedSitesFull.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ProtectedEntityType" substitutionGroup="ps-f:ProtectedEntityType" type="ps-n2000:ProtectedEntityTypeType"/>
  <complexType name="ProtectedEntityTypeType">
    <complexContent>
      <extension base="ps-f:ProtectedEntityTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProtectedEntityTypePropertyType">
    <sequence>
      <element ref="ps-n2000:ProtectedEntityType"/>
    </sequence>
  </complexType>
  <element name="ProtectedSite" substitutionGroup="ps-f:ProtectedSite" type="ps-n2000:ProtectedSiteType">
    <annotation>
      <documentation>-- Definition --&#13;
An area designated or managed within a framework of international, Community and Member States' legislation to achieve specific conservation objectives.&#13;
&#13;
-- Description --&#13;
Each protected site has a boundary defined through formal, legal or administrative agreements or decisions. The establishment of a protected site is normally underpinned by legislation and thus given weight in decisions about land use change and spatial planning. Each Site is normally selected as a representative example of a wider resource and selected through a formal criterion based approach. A protected site can be a contiguous extent of land/sea or a collection of discrete areas that together represent a single formal Protected Site.  This class has the attributes, constraints and associations that are part of the Natura2000 application schema.&#13;
</documentation>
    </annotation>
  </element>
  <complexType name="ProtectedSiteType">
    <complexContent>
      <extension base="ps-f:ProtectedSiteType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProtectedSitePropertyType">
    <sequence minOccurs="0">
      <element ref="ps-n2000:ProtectedSite"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
