webapps/deegree-wfs/WEB-INF/conf/wfs/featuretypes/DeegreeGeographicalNames.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:deegreewfs="http://www.deegree.org/wfs" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" targetNamespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" elementFormDefault="qualified" version="3.0">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<!-- General settings ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<annotation>
		<appinfo>
			<deegreewfs:Prefix>GN</deegreewfs:Prefix>
			<deegreewfs:Backend>POSTGIS</deegreewfs:Backend>
			<deegreewfs:DefaultSRS>EPSG:4258</deegreewfs:DefaultSRS>
			<deegreewfs:SuppressXLinkOutput>false</deegreewfs:SuppressXLinkOutput>
			<JDBCConnection xmlns="http://www.deegree.org/jdbc">
				<Driver>org.postgresql.Driver</Driver>
				<Url>jdbc:postgresql://localhost:5432/egn</Url>
				<User>postgres</User>
				<Password>postgres</Password>
				<SecurityConstraints/>
				<Encoding>UTF-8</Encoding>
			</JDBCConnection>
		</appinfo>
	</annotation>
	<!-- MD_Resolution ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<element name="MD_Resolution" type="gmd:MD_Resolution_Type">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.md_resolution</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name="MD_Resolution_Type">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="equivalentScale" type="integer">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="equivalentscale" type="INTEGER"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="distance" type="float">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="distance" type="FLOAT"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- NamedPlaceTypeValue ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<!--
	<element name="NamedPlaceTypeValue" type="gn:NamedPlaceTypeValueType">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.placetypes</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name=NamedPlaceTypeValueType">
		<sequence>
			<element name="code" type="string">
				<annotation>
					<appinfo>
						<deegreewfs:Content>
							<deegreewfs:MappingField field="namedplacetype" type="VARCHAR"/>
						</deegreewfs:Content>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
-->
	<!-- LocalType ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<element name="LocalType" type="gn:LocalTypeType">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.localtype</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name="LocalTypeType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="language" type="string">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="language" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="country" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="country" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="characterEncoding" type="string">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="characterencoding" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="text" type="string">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="text" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- Identifier ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<element name="Identifier" substitutionGroup="gml:AbstractObject" type="gn:IdentifierType">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.identifier</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name="IdentifierType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="localId" type="string">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="localId" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="namespace" type="string">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="namespace" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element minOccurs="0" name="versionId" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="versionid" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	<complexType name="IdentifierPropertyType">
		<sequence>
			<element ref="gn:Identifier"/>
		</sequence>
	</complexType>
-->
	<!-- PronunciationOfName ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<element name="PronunciationOfName" type="gn:PronunciationOfNameType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.pronunciationofname</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name="PronunciationOfNameType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="pronunciationSoundLink" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="pronunciationsoundlink" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!---
				<complexType>
					<simpleContent>
						<extension base="anyURI">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
					<element name="pronunciationIPA" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="pronunciationipa" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	<complexType name="PronunciationOfNamePropertyType">
		<sequence>
			<element ref="gn:PronunciationOfName"/>
		</sequence>
	</complexType>
-->
	<!--SpellingOfName ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<element name="SpellingOfName" type="gn:SpellingOfNameType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.spellingofname</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name="SpellingOfNameType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="text" type="string">
						<annotation>
							<appinfo>
								<deegreewfs:table>inspire_gn_v3_0.spellingofname</deegreewfs:table>
								<deegreewfs:gmlId prefix="NL.GEODAN.GN">
									<deegreewfs:MappingField field="id" type="INTEGER"/>
								</deegreewfs:gmlId>
								<deegreewfs:visible>true</deegreewfs:visible>
								<deegreewfs:transaction update="false" delete="false" insert="false"/>
							</appinfo>
						</annotation>
					</element>
					<element name="script" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="script" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
					<element name="transliterationScheme" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="transliterationscheme" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

<!--
	<complexType name="SpellingOfNamePropertyType">
		<sequence>
			<element ref="gn:SpellingOfName"/>
		</sequence>
	</complexType>
-->

	<!-- GeographicalName ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<element name="GeographicalName" type="gn:GeographicalNameType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.geographicalname</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name="GeographicalNameType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="spelling" type="gn:SpellingOfNameType" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:SpellingOfName">
									<deegreewfs:MappingField field="spelling" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="geographicalname" type="INTEGER" table="inspire_gn_v3_0.spellingofname"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="language" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="language" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
					<element name="nativeness" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="nativeness" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="gml:CodeType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
					<element name="nameStatus" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="namestatus" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="gml:CodeType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
					<element name="sourceOfName" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="sourceofname" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
					<element name="pronunciation" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:PronunciationOfName">
									<deegreewfs:MappingField field="spelling" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From fk="true">
											<deegreewfs:MappingField field="pronunciation" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To>
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.pronunciationofname"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<sequence>
						<element ref="gn:PronunciationOfName"/>
					</sequence>
					<attribute name="nilReason" type="gml:NilReasonType"/>
				</complexType>
-->
					</element>
					<element name="grammaticalGender" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="grammaticalgender" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="gml:CodeType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
					<element name="grammaticalNumber" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="grammaticalnumber" type="VARCHAR"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
				<complexType>
					<simpleContent>
						<extension base="gml:CodeType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
-->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
<!--
	<complexType name="GeographicalNamePropertyType">
		<sequence>
			<element ref="gn:GeographicalName"/>
		</sequence>
	</complexType>
-->

	<!-- NamedPlace ++++++++++++++++++++++++++++++++++++++++++++++-->
	<element name="NamedPlace" type="gn:NamedPlaceType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<appinfo>
				<deegreewfs:table>inspire_gn_v3_0.namedplace</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</appinfo>
		</annotation>
	</element>
	<complexType name="NamedPlaceType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geometry" type="gml:GeometryPropertyType">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="geometry" type="GEOMETRY" srs="4258"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="inspireId" type="gn:IdentifierType">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:Identifier">
									<deegreewfs:MappingField field="inspireid" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="inspireid" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.inspireid"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="name" type="gn:GeographicalNameType" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:geographicalName">
									<deegreewfs:MappingField field="name" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="name" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.geographicalname"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="beginlifespanversion" type="TIMESTAMP"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
-->
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="endlifespanversion" type="TIMESTAMP"/>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
-->
					</element>
					<element name="leastDetailedViewingResolution" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:MD_Resolution">
									<deegreewfs:MappingField field="leastdetailedviewingresolution" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="leastdetailedviewingresolution" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.md_resolution"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:MD_Resolution"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
-->
					</element>
					<element name="mostDetailedViewingResolution" nillable="true" minOccurs="0">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:MD_Resolution">
									<deegreewfs:MappingField field="mostdetailedviewingresolution" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="mostdetailedviewingresolution" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.md_resolution"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:MD_Resolution"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
						-->
					</element>
					<element name="localType" type="gmd:LocalisedCharacterString_PropertyType" nillable="true" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:LocalType">
									<deegreewfs:MappingField field="localtype" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="namedplace" type="INTEGER" table="inspire_gn_v3_0.localype"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
					</element>
					<element name="relatedSpatialObject" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<deegreewfs:Content type="gn:Identifer">
									<deegreewfs:MappingField field="relatedspatialobject" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="namedplace" type="INTEGER" table="inspire_gn_v3_0.relatedspatialobject"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
						<complexType>
							<sequence>
								<element ref="gn:Identifier"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
-->
					</element>
					<element name="type" nillable="true" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="namedplacetype" type="INTEGER"/>
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="namedplace" type="INTEGER" table="inspire_gn_v3_0.placetypes"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</appinfo>
						</annotation>
						<!--
						<complexType>
							<simpleContent>
								<extension base="gml:CodeType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
-->
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!--
	<complexType name="NamedPlacePropertyType">
		<sequence minOccurs="0">
			<element ref="gn:NamedPlace"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
-->
</schema>
