webapps/deegree-wfs/WEB-INF/conf/wfs/featuretypes/DeegreeGeographicalNames.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" xmlns:deegreewfs="http://www.deegree.org/wfs" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" targetNamespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" elementFormDefault="qualified" version="3.0">
	<!--
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/feature.xsd"/>
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/geometryAggregates.xsd"/>
	<xsd:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
-->
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<!-- General settings ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:annotation>
		<xsd:appinfo>
			<deegreewfs:Prefix>GN</deegreewfs:Prefix>
			<deegreewfs:Backend>POSTGIS</deegreewfs:Backend>
			<deegreewfs:DefaultSRS>EPSG:4258</deegreewfs:DefaultSRS>
			<deegreewfs:SuppressXLinkOutput>false</deegreewfs:SuppressXLinkOutput>
			<JDBCConnection xmlns="http://www.deegree.org/jdbc">
				<Driver>org.postgresql.Driver</Driver>
				<Url>jdbc:postgresql://localhost:5432/egn</Url>
				<User>postgres</User>
				<Password>postgres</Password>
				<SecurityConstraints/>
				<Encoding>UTF-8</Encoding>
			</JDBCConnection>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- MD_Resolution ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="MD_Resolution" type="gn:MD_Resolution_Type" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.md_resolution</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.Resolution">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MD_Resolution_Type">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="equivalentScale" type="xsd:integer">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="equivalentscale" type="INTEGER"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="distance" type="xsd:float">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="distance" type="FLOAT"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- NamedPlaceType ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="NamedPlaceType" type="gn:NamedPlaceType_Type" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.placetypes</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.PlaceType">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NamedPlaceType_Type">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="namedplacetype" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--RelatedSpatialObject ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="RelatedSpatialObject" type="gn:RelatedSpatialObject_Type" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.relatedspatialobject</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.RelatedObject">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RelatedSpatialObject_Type">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="localId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="localId" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="namespace" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="namespace" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="versionId" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="versionid" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- LocalType ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="LocalType" type="gn:LocalTypeType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.localtype</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.LocalType">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LocalTypeType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="language" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="language" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="country" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="country" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="characterEncoding" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="characterencoding" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="text" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="text" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- Identifier ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="Identifier" type="gn:IdentifierType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.inspireid</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.Identifier">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="IdentifierType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="localId" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="localId" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="namespace" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="namespace" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="versionId" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="versionid" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- PronunciationOfName ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="PronunciationOfName" type="gn:PronunciationOfNameType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.pronunciationofname</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.Pronunciation">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PronunciationOfNameType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="pronunciationSoundLink" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="pronunciationsoundlink" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pronunciationIPA" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="pronunciationipa" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--SpellingOfName ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="SpellingOfName" type="gn:SpellingOfNameType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.spellingofname</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.Spelling">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SpellingOfNameType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="text" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="text" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="script" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="script" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="transliterationScheme" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="transliterationscheme" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- GeographicalName ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="GeographicalName" type="gn:GeographicalNameType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.geographicalname</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.Name">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GeographicalNameType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="spelling" type="gml:FeaturePropertyType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:SpellingOfName">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="geographicalname" type="INTEGER" table="inspire_gn_v3_0.spellingofname"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="language" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="language" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="nativeness" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="nativeness" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="nameStatus" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="namestatus" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sourceOfName" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="sourceofname" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pronunciation" type="gml:ReferenceType" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:PronunciationOfName">
									<deegreewfs:Relation>
										<deegreewfs:From fk="true">
											<deegreewfs:MappingField field="pronunciation" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To>
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.pronunciationofname"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="grammaticalGender" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="grammaticalgender" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="grammaticalNumber" type="xsd:string" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="grammaticalnumber" type="VARCHAR"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- NamedPlace ++++++++++++++++++++++++++++++++++++++++++++++-->
	<xsd:element name="NamedPlace" type="gn:NamedPlaceType" substitutionGroup="gml:_Feature">
		<xsd:annotation>
			<xsd:appinfo>
				<deegreewfs:table>inspire_gn_v3_0.namedplace</deegreewfs:table>
				<deegreewfs:gmlId prefix="NL.GEODAN.GN.Place">
					<deegreewfs:MappingField field="id" type="INTEGER"/>
				</deegreewfs:gmlId>
				<deegreewfs:visible>true</deegreewfs:visible>
				<deegreewfs:transaction update="false" delete="false" insert="false"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NamedPlaceType">
		<xsd:complexContent>
			<xsd:extension base="gml:AbstractFeatureType">
				<xsd:sequence>
					<xsd:element name="geometry" type="gml:GeometryPropertyType">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="geometry" type="GEOMETRY" srs="4258"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="inspireId" type="gml:FeaturePropertyType">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:Identifier">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="inspireid" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.inspireid"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="gml:FeaturePropertyType" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:GeographicalName">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="namedplace" type="INTEGER" table="inspire_gn_v3_0.geographicalname"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="beginLifespanVersion" type="xsd:dateTime" nillable="true">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="beginlifespanversion" type="TIMESTAMP"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="endLifespanVersion" type="xsd:dateTime" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content>
									<deegreewfs:MappingField field="endlifespanversion" type="TIMESTAMP"/>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="leastDetailedViewingResolution" type="gml:FeaturePropertyType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:MD_Resolution">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="leastdetailedviewingresolution" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.md_resolution"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mostDetailedViewingResolution" type="gml:FeaturePropertyType" nillable="true" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:MD_Resolution">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="mostdetailedviewingresolution" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="id" type="INTEGER" table="inspire_gn_v3_0.md_resolution"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="localType" type="gml:FeaturePropertyType" nillable="true" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:LocalType">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="namedplace" type="INTEGER" table="inspire_gn_v3_0.localtype"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="relatedSpatialObject" type="gml:FeaturePropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:RelatedSpatialObject">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="namedplace" type="INTEGER" table="inspire_gn_v3_0.relatedspatialobject"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="type" type="gml:FeaturePropertyType" nillable="true" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo>
								<deegreewfs:Content type="gn:NamedPlaceType">
									<deegreewfs:Relation>
										<deegreewfs:From>
											<deegreewfs:MappingField field="id" type="INTEGER"/>
										</deegreewfs:From>
										<deegreewfs:To fk="true">
											<deegreewfs:MappingField field="namedplace" type="INTEGER" table="inspire_gn_v3_0.placetypes"/>
										</deegreewfs:To>
									</deegreewfs:Relation>
								</deegreewfs:Content>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
