webapps/deegree/esdin/workspace/src/main/workspace/schemas/esdin/exmls/1.0/ExMLargeGeographicalNames.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
  ~ Copyright (C) 2011  Het Kadaster - The Netherlands
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
		xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0"
		xmlns:xlgn="urn:x-exml:specification:gmlas:ExMLargeGeographicalNames:1.0" elementFormDefault="qualified" targetNamespace="urn:x-exml:specification:gmlas:ExMLargeGeographicalNames:1.0" version="1.0">
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="GeographicalName" substitutionGroup="gn:GeographicalName" type="xlgn:GeographicalNameType"/>
  <complexType name="GeographicalNameType">
    <complexContent>
      <extension base="gn:GeographicalNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeographicalNamePropertyType">
    <sequence>
      <element ref="xlgn:GeographicalName"/>
    </sequence>
  </complexType>
  <element name="SpellingOfName" substitutionGroup="gn:SpellingOfName" type="xlgn:SpellingOfNameType"/>
  <complexType name="SpellingOfNameType">
    <complexContent>
      <extension base="gn:SpellingOfNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpellingOfNamePropertyType">
    <sequence>
      <element ref="xlgn:SpellingOfName"/>
    </sequence>
  </complexType>
  <element name="NamedPlace" substitutionGroup="gn:NamedPlace" type="xlgn:NamedPlaceType"/>
  <complexType name="NamedPlaceType">
    <complexContent>
      <extension base="gn:NamedPlaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedPlacePropertyType">
    <sequence minOccurs="0">
      <element ref="xlgn:NamedPlace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
