trunk/webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/inspire/annex1/ExMCommonTransportElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
		xmlns:tn="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0"
		xmlns:xtn="urn:x-exm:specification:gmlas:ExMCommonTransportElements:0.4" elementFormDefault="qualified"
		targetNamespace="urn:x-exm:specification:gmlas:ExMCommonTransportElements:0.4" version="0.4">
  <import namespace="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" schemaLocation="../../inspire/annex1/CommonTransportElements.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="VerticalPosition" substitutionGroup="tn:VerticalPosition" type="xtn:VerticalPositionType"/>
  <complexType name="VerticalPositionType">
    <complexContent>
      <extension base="tn:VerticalPositionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VerticalPositionPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:VerticalPosition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ConditionOfFacility" substitutionGroup="tn:ConditionOfFacility" type="xtn:ConditionOfFacilityType"/>
  <complexType name="ConditionOfFacilityType">
    <complexContent>
      <extension base="tn:ConditionOfFacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConditionOfFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:ConditionOfFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MaintenanceAuthority" substitutionGroup="tn:MaintenanceAuthority" type="xtn:MaintenanceAuthorityType"/>
  <complexType name="MaintenanceAuthorityType">
    <complexContent>
      <extension base="tn:MaintenanceAuthorityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaintenanceAuthorityPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:MaintenanceAuthority"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AccessRestriction" substitutionGroup="tn:AccessRestriction" type="xtn:AccessRestrictionType"/>
  <complexType name="AccessRestrictionType">
    <complexContent>
      <extension base="tn:AccessRestrictionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AccessRestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:AccessRestriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficFlowDirection" substitutionGroup="tn:TrafficFlowDirection" type="xtn:TrafficFlowDirectionType"/>
  <complexType name="TrafficFlowDirectionType">
    <complexContent>
      <extension base="tn:TrafficFlowDirectionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficFlowDirectionPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:TrafficFlowDirection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
