trunk/webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/inspire/annex1/ExMCableTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>


<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-c="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0"
		xmlns:xtn-c="urn:x-exm:specification:gmlas:ExMCableTransportNetwork:0.4" elementFormDefault="qualified" 
		targetNamespace="urn:x-exm:specification:gmlas:ExMCableTransportNetwork:0.4" version="0.4">

	<!--
	   Just van den Broecke 15/12/2010
	    - changed namespace definition "xtn" with "xtn-c" (was conflicting with ExMCommonTransportElements NS)
	    - changed targetNamespace from urn:x-exm:specification:gmlas:ExMTransportNetwork to namespace of this schema
	    - changed all type defs from "xtn:" to "xtn-c:"
	   -->
  
  <import namespace="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0" schemaLocation="../../inspire/annex1/CableTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CablewayLink" substitutionGroup="tn-c:CablewayLink" type="xtn-c:CablewayLinkType"/>
  <complexType name="CablewayLinkType">
    <complexContent>
      <extension base="tn-c:CablewayLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-c:CablewayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
