trunk/webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/inspire/annex1/ExMRoadTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-ro="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" xmlns:xtn-ro="urn:x-exm:specification:gmlas:ExMRoadTransportNetwork:0.4" elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExMRoadTransportNetwork:0.4" version="0.4">
	<!--
	   Just van den Broecke 15/12/2010
	    - changed namespace definition "xtn" with "xtn-ro" (was conflicting with ExMCommonTransportElements NS)
	    - changed targetNamespace from urn:x-exm:specification:gmlas:ExMTransportNetwork to namespace of this schema
	    - changed all type defs from "xtn:" to "xtn-ro:"  
	   -->
  <import namespace="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" schemaLocation="../../inspire/annex1/RoadTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="RoadArea" substitutionGroup="tn-ro:RoadArea" type="xtn-ro:RoadAreaType"/>
  <complexType name="RoadAreaType">
    <complexContent>
      <extension base="tn-ro:RoadAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VeichleTrafficArea" substitutionGroup="tn-ro:VehicleTrafficArea" type="xtn-ro:VeichleTrafficAreaType"/>
  <complexType name="VeichleTrafficAreaType">
    <complexContent>
      <extension base="tn-ro:VehicleTrafficAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeichleTrafficAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:VeichleTrafficArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SpeedLimit" substitutionGroup="tn-ro:SpeedLimit" type="xtn-ro:SpeedLimitType"/>
  <complexType name="SpeedLimitType">
    <complexContent>
      <extension base="tn-ro:SpeedLimitType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeedLimitPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:SpeedLimit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadSurfaceCategory" substitutionGroup="tn-ro:RoadSurfaceCategory" type="xtn-ro:RoadSurfaceCategoryType"/>
  <complexType name="RoadSurfaceCategoryType">
    <complexContent>
      <extension base="tn-ro:RoadSurfaceCategoryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadSurfaceCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadSurfaceCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NumberOfLanes" substitutionGroup="tn-ro:NumberOfLanes" type="xtn-ro:NumberOfLanesType"/>
  <complexType name="NumberOfLanesType">
    <complexContent>
      <extension base="tn-ro:NumberOfLanesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NumberOfLanesPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:NumberOfLanes"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FunctionalRoadClass" substitutionGroup="tn-ro:FunctionalRoadClass" type="xtn-ro:FunctionalRoadClassType"/>
  <complexType name="FunctionalRoadClassType">
    <complexContent>
      <extension base="tn-ro:FunctionalRoadClassType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunctionalRoadClassPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:FunctionalRoadClass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadName" substitutionGroup="tn-ro:RoadName" type="xtn-ro:RoadNameType"/>
  <complexType name="RoadNameType">
    <complexContent>
      <extension base="tn-ro:RoadNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNamePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadName"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadLink" substitutionGroup="tn-ro:RoadLink" type="xtn-ro:RoadLinkType"/>
  <complexType name="RoadLinkType">
    <complexContent>
      <extension base="tn-ro:RoadLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ERoad" substitutionGroup="tn-ro:ERoad" type="xtn-ro:ERoadType"/>
  <complexType name="ERoadType">
    <complexContent>
      <extension base="tn-ro:ERoadType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ERoadPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:ERoad"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FormOfWay" substitutionGroup="tn-ro:FormOfWay" type="xtn-ro:FormOfWayType"/>
  <complexType name="FormOfWayType">
    <complexContent>
      <extension base="tn-ro:FormOfWayType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FormOfWayPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:FormOfWay"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadServiceArea" substitutionGroup="tn-ro:RoadServiceArea" type="xtn-ro:RoadServiceAreaType"/>
  <complexType name="RoadServiceAreaType">
    <complexContent>
      <extension base="tn-ro:RoadServiceAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadServiceAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadServiceArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadLinkSequence" substitutionGroup="tn-ro:RoadLinkSequence" type="xtn-ro:RoadLinkSequenceType"/>
  <complexType name="RoadLinkSequenceType">
    <complexContent>
      <extension base="tn-ro:RoadLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadServiceType" substitutionGroup="tn-ro:RoadServiceType" type="xtn-ro:RoadServiceTypeType"/>
  <complexType name="RoadServiceTypeType">
    <complexContent>
      <extension base="tn-ro:RoadServiceTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadServiceTypePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadServiceType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Road" substitutionGroup="tn-ro:Road" type="xtn-ro:RoadType"/>
  <complexType name="RoadType">
    <complexContent>
      <extension base="tn-ro:RoadType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:Road"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadWidth" substitutionGroup="tn-ro:RoadWidth" type="xtn-ro:RoadWidthType"/>
  <complexType name="RoadWidthType">
    <complexContent>
      <extension base="tn-ro:RoadWidthType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadWidthPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadWidth"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadNode" substitutionGroup="tn-ro:RoadNode" type="xtn-ro:RoadNodeType"/>
  <complexType name="RoadNodeType">
    <complexContent>
      <extension base="tn-ro:RoadNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ro:RoadNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
