trunk/webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/inspire/annex1/ExMRailwayTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010  Het Kadaster - The Netherlands
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-ra="urn:x-inspire:specification:gmlas:RailwayTransportNetwork:3.0" 
		xmlns:xtn-ra="urn:x-exm:specification:gmlas:ExMRailwayTransportNetwork:0.4" elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExMRailwayTransportNetwork:0.4" version="0.4">
	<!--
	   Just van den Broecke 15/12/2010
	    - changed namespace definition "xtn" with "xtn-ra" (was conflicting with ExMCommonTransportElements NS)
	    - changed targetNamespace from urn:x-exm:specification:gmlas:ExMTransportNetwork to namespace of this schema
	    - changed all type defs from "xtn:" to "xtn-ra:"  
	   -->
  <import namespace="urn:x-inspire:specification:gmlas:RailwayTransportNetwork:3.0" schemaLocation="../../inspire/annex1/RailwayTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="RailwayStationNode" substitutionGroup="tn-ra:RailwayStationNode" type="xtn-ra:RailwayStationNodeType"/>
  <complexType name="RailwayStationNodeType">
    <complexContent>
      <extension base="tn-ra:RailwayStationNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayStationNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayStationNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayGauge" substitutionGroup="tn-ra:NominalTrackGauge" type="xtn-ra:RailwayGaugeType"/>
  <complexType name="RailwayGaugeType">
    <complexContent>
      <extension base="tn-ra:NominalTrackGaugeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayGaugePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayGauge"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayYardNode" substitutionGroup="tn-ra:RailwayYardNode" type="xtn-ra:RailwayYardNodeType"/>
  <complexType name="RailwayYardNodeType">
    <complexContent>
      <extension base="tn-ra:RailwayYardNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayYardNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayYardNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayType" substitutionGroup="tn-ra:RailwayType" type="xtn-ra:RailwayTypeType"/>
  <complexType name="RailwayTypeType">
    <complexContent>
      <extension base="tn-ra:RailwayTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayTypePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayElectrification" substitutionGroup="tn-ra:RailwayElectrification" type="xtn-ra:RailwayElectrificationType"/>
  <complexType name="RailwayElectrificationType">
    <complexContent>
      <extension base="tn-ra:RailwayElectrificationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayElectrificationPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayElectrification"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayUse" substitutionGroup="tn-ra:RailwayUse" type="xtn-ra:RailwayUseType"/>
  <complexType name="RailwayUseType">
    <complexContent>
      <extension base="tn-ra:RailwayUseType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayUsePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayLinkSequence" substitutionGroup="tn-ra:RailwayLinkSequence" type="xtn-ra:RailwayLinkSequenceType"/>
  <complexType name="RailwayLinkSequenceType">
    <complexContent>
      <extension base="tn-ra:RailwayLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayLink" substitutionGroup="tn-ra:RailwayLink" type="xtn-ra:RailwayLinkType"/>
  <complexType name="RailwayLinkType">
    <complexContent>
      <extension base="tn-ra:RailwayLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NumberOfTracks" substitutionGroup="tn-ra:NumberOfTracks" type="xtn-ra:NumberOfTracksType"/>
  <complexType name="NumberOfTracksType">
    <complexContent>
      <extension base="tn-ra:NumberOfTracksType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NumberOfTracksPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:NumberOfTracks"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayYardArea" substitutionGroup="tn-ra:RailwayYardArea" type="xtn-ra:RailwayYardAreaType"/>
  <complexType name="RailwayYardAreaType">
    <complexContent>
      <extension base="tn-ra:RailwayYardAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayYardAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-ra:RailwayYardArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
