trunk/webapps/deegree/esdin/workspace/src/main/workspace/schemas/esdin/exmls/1.0/ExMLargeCommonTransportElements.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" xmlns:xltn-c="urn:x-exml:specification:gmlas:ExMLargeCommonTransportElements:1.0" elementFormDefault="qualified" targetNamespace="urn:x-exml:specification:gmlas:ExMLargeCommonTransportElements:1.0" version="1.0">
  <import namespace="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" schemaLocation="CommonTransportElements.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="AccessRestriction" substitutionGroup="tn:AccessRestriction" type="xltn-c:AccessRestrictionType"/>
  <complexType name="AccessRestrictionType">
    <complexContent>
      <extension base="tn:AccessRestrictionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AccessRestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-c:AccessRestriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TrafficFlowDirection" substitutionGroup="tn:TrafficFlowDirection" type="xltn-c:TrafficFlowDirectionType"/>
  <complexType name="TrafficFlowDirectionType">
    <complexContent>
      <extension base="tn:TrafficFlowDirectionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficFlowDirectionPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-c:TrafficFlowDirection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VerticalPosition" substitutionGroup="tn:VerticalPosition" type="xltn-c:VerticalPositionType"/>
  <complexType name="VerticalPositionType">
    <complexContent>
      <extension base="tn:VerticalPositionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VerticalPositionPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-c:VerticalPosition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ConditionOfFacility" substitutionGroup="tn:ConditionOfFacility" type="xltn-c:ConditionOfFacilityType"/>
  <complexType name="ConditionOfFacilityType">
    <complexContent>
      <extension base="tn:ConditionOfFacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConditionOfFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-c:ConditionOfFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MaintenanceAuthority" substitutionGroup="tn:MaintenanceAuthority" type="xltn-c:MaintenanceAuthorityType"/>
  <complexType name="MaintenanceAuthorityType">
    <complexContent>
      <extension base="tn:MaintenanceAuthorityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaintenanceAuthorityPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-c:MaintenanceAuthority"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
