webapps/deegree/workspace/src/main/workspace/schemas/esdin/exmls/1.0/ExMLargeCableTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-c="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0" xmlns:xltn-g="urn:x-exml:specification:gmlas:ExMLargeCableTransportNetwork:1.0" elementFormDefault="qualified" targetNamespace="urn:x-exml:specification:gmlas:ExMLargeCableTransportNetwork:1.0" version="1.0">
  <import namespace="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0" schemaLocation="CableTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CablewayLink" substitutionGroup="tn-c:CablewayLink" type="xltn-g:CablewayLinkType"/>
  <complexType name="CablewayLinkType">
    <complexContent>
      <extension base="tn-c:CablewayLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CablewayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-g:CablewayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
