webapps/deegree/workspace/inspire-foss/src/main/workspace/schemas/esdin/exmls/1.0/ExMLargeHydroNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hy-n="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" xmlns:xlhy-n="urn:x-exml:specification:gmlas:ExMLargeHydroNetwork:1.0" elementFormDefault="qualified" targetNamespace="urn:x-exml:specification:gmlas:ExMLargeHydroNetwork:1.0" version="1.0">
  <import namespace="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" schemaLocation="HydroNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="WatercourseLink" substitutionGroup="hy-n:WatercourseLink" type="xlhy-n:WatercourseLinkType"/>
  <complexType name="WatercourseLinkType">
    <complexContent>
      <extension base="hy-n:WatercourseLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xlhy-n:WatercourseLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
