webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/inspire/annex1/ExMAirTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
		xmlns:tn-a="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0"
		xmlns:xtn-a="urn:x-exm:specification:gmlas:ExMAirTransportNetwork:0.4" elementFormDefault="qualified" 
		targetNamespace="urn:x-exm:specification:gmlas:ExMAirTransportNetwork:0.4" version="0.4">

	<!--
	   Just van den Broecke 15/12/2010
	    - changed namespace definition "xtn" with "xtn-a" (was conflicting with ExMCommonTransportElements NS)
	    - changed targetNamespace from urn:x-exm:specification:gmlas:ExMTransportNetwork to namespace of this schema
	    - changed all type defs from "xtn:" to "xtn-a:"
	   -->
	
  <import namespace="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" schemaLocation="../../inspire/annex1/AirTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="AreaodromeNode" substitutionGroup="tn-a:AerodromeNode" type="xtn-a:AreaodromeNodeType"/>
  <complexType name="AreaodromeNodeType">
    <complexContent>
      <extension base="tn-a:AerodromeNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AreaodromeNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:AreaodromeNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TaxiwayArea" substitutionGroup="tn-a:TaxiwayArea" type="xtn-a:TaxiwayAreaType"/>
  <complexType name="TaxiwayAreaType">
    <complexContent>
      <extension base="tn-a:TaxiwayAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaxiwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:TaxiwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeCategory" substitutionGroup="tn-a:AerodromeCategory" type="xtn-a:AerodromeCategoryType"/>
  <complexType name="AerodromeCategoryType">
    <complexContent>
      <extension base="tn-a:AerodromeCategoryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:AerodromeCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RunwayArea" substitutionGroup="tn-a:RunwayArea" type="xtn-a:RunwayAreaType"/>
  <complexType name="RunwayAreaType">
    <complexContent>
      <extension base="tn-a:RunwayAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RunwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:RunwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UseRestriction" substitutionGroup="tn-a:UseRestriction" type="xtn-a:UseRestrictionType"/>
  <complexType name="UseRestrictionType">
    <complexContent>
      <extension base="tn-a:UseRestrictionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UseRestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:UseRestriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SurfaceComposition" substitutionGroup="tn-a:SurfaceComposition" type="xtn-a:SurfaceCompositionType"/>
  <complexType name="SurfaceCompositionType">
    <complexContent>
      <extension base="tn-a:SurfaceCompositionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SurfaceCompositionPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:SurfaceComposition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeArea" substitutionGroup="tn-a:AerodromeArea" type="xtn-a:AerodromeAreaType"/>
  <complexType name="AerodromeAreaType">
    <complexContent>
      <extension base="tn-a:AerodromeAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:AerodromeArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeType" substitutionGroup="tn-a:AerodromeType" type="xtn-a:AerodromeTypeType"/>
  <complexType name="AerodromeTypeType">
    <complexContent>
      <extension base="tn-a:AerodromeTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeTypePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:AerodromeType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ApronArea" substitutionGroup="tn-a:ApronArea" type="xtn-a:ApronAreaType"/>
  <complexType name="ApronAreaType">
    <complexContent>
      <extension base="tn-a:ApronAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ApronAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn-a:ApronArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
