webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/inspire/annex1/ExMLargeGeographicalNames.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:xlgn="urn:x-exml:specification:gmlas:ExMLargeGeographicalNames:1.0" elementFormDefault="qualified" targetNamespace="urn:x-exml:specification:gmlas:ExMLargeGeographicalNames:1.0" version="1.0">
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="GeographicalNames.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="GeographicalName" substitutionGroup="gn:GeographicalName" type="xlgn:GeographicalNameType"/>
  <complexType name="GeographicalNameType">
    <complexContent>
      <extension base="gn:GeographicalNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeographicalNamePropertyType">
    <sequence>
      <element ref="xlgn:GeographicalName"/>
    </sequence>
  </complexType>
  <element name="SpellingOfName" substitutionGroup="gn:SpellingOfName" type="xlgn:SpellingOfNameType"/>
  <complexType name="SpellingOfNameType">
    <complexContent>
      <extension base="gn:SpellingOfNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpellingOfNamePropertyType">
    <sequence>
      <element ref="xlgn:SpellingOfName"/>
    </sequence>
  </complexType>
  <element name="NamedPlace" substitutionGroup="gn:NamedPlace" type="xlgn:NamedPlaceType"/>
  <complexType name="NamedPlaceType">
    <complexContent>
      <extension base="gn:NamedPlaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedPlacePropertyType">
    <sequence minOccurs="0">
      <element ref="xlgn:NamedPlace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
