trunk/webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/esdin/exm/ExMAirTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-a="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" xmlns:xtn="urn:x-exm:specification:gmlas:ExMTransportNetwork:0.4" elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExMTransportNetwork:0.4" version="0.4">
  <import namespace="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" schemaLocation="../../inspire/annex1/AirTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="AreaodromeNode" substitutionGroup="tn-a:AerodromeNode" type="xtn:AreaodromeNodeType"/>
  <complexType name="AreaodromeNodeType">
    <complexContent>
      <extension base="tn-a:AerodromeNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AreaodromeNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:AreaodromeNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TaxiwayArea" substitutionGroup="tn-a:TaxiwayArea" type="xtn:TaxiwayAreaType"/>
  <complexType name="TaxiwayAreaType">
    <complexContent>
      <extension base="tn-a:TaxiwayAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaxiwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:TaxiwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeCategory" substitutionGroup="tn-a:AerodromeCategory" type="xtn:AerodromeCategoryType"/>
  <complexType name="AerodromeCategoryType">
    <complexContent>
      <extension base="tn-a:AerodromeCategoryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:AerodromeCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RunwayArea" substitutionGroup="tn-a:RunwayArea" type="xtn:RunwayAreaType"/>
  <complexType name="RunwayAreaType">
    <complexContent>
      <extension base="tn-a:RunwayAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RunwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RunwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UseRestriction" substitutionGroup="tn-a:UseRestriction" type="xtn:UseRestrictionType"/>
  <complexType name="UseRestrictionType">
    <complexContent>
      <extension base="tn-a:UseRestrictionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UseRestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:UseRestriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SurfaceComposition" substitutionGroup="tn-a:SurfaceComposition" type="xtn:SurfaceCompositionType"/>
  <complexType name="SurfaceCompositionType">
    <complexContent>
      <extension base="tn-a:SurfaceCompositionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SurfaceCompositionPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:SurfaceComposition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeArea" substitutionGroup="tn-a:AerodromeArea" type="xtn:AerodromeAreaType"/>
  <complexType name="AerodromeAreaType">
    <complexContent>
      <extension base="tn-a:AerodromeAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:AerodromeArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeType" substitutionGroup="tn-a:AerodromeType" type="xtn:AerodromeTypeType"/>
  <complexType name="AerodromeTypeType">
    <complexContent>
      <extension base="tn-a:AerodromeTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeTypePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:AerodromeType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ApronArea" substitutionGroup="tn-a:ApronArea" type="xtn:ApronAreaType"/>
  <complexType name="ApronAreaType">
    <complexContent>
      <extension base="tn-a:ApronAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ApronAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:ApronArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
