trunk/webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/esdin/exm/ExMHydroNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hy-n="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" xmlns:xhy-n="urn:x-exm:specification:gmlas:ExM_HydroNetwork:0.4" elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExM_HydroNetwork:0.4" version="0.4">
  <import namespace="urn:x-inspire:specification:gmlas:HydroNetwork:3.0" schemaLocation="../../inspire/annex1/HydroNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="WatercourseLink" substitutionGroup="hy-n:WatercourseLink" type="xhy-n:WatercourseLinkType"/>
  <complexType name="WatercourseLinkType">
    <complexContent>
      <extension base="hy-n:WatercourseLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WatercourseLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xhy-n:WatercourseLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
