trunk/webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/esdin/exm/ExMRailwayTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-ra="urn:x-inspire:specification:gmlas:RailwayTransportNetwork:3.0" xmlns:xtn="urn:x-exm:specification:gmlas:ExMTransportNetwork:0.4" elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExMTransportNetwork:0.4" version="0.4">
  <import namespace="urn:x-inspire:specification:gmlas:RailwayTransportNetwork:3.0" schemaLocation="../../inspire/annex1/RailwayTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="RailwayStationNode" substitutionGroup="tn-ra:RailwayStationNode" type="xtn:RailwayStationNodeType"/>
  <complexType name="RailwayStationNodeType">
    <complexContent>
      <extension base="tn-ra:RailwayStationNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayStationNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayStationNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayGauge" substitutionGroup="tn-ra:NominalTrackGauge" type="xtn:RailwayGaugeType"/>
  <complexType name="RailwayGaugeType">
    <complexContent>
      <extension base="tn-ra:NominalTrackGaugeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayGaugePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayGauge"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayYardNode" substitutionGroup="tn-ra:RailwayYardNode" type="xtn:RailwayYardNodeType"/>
  <complexType name="RailwayYardNodeType">
    <complexContent>
      <extension base="tn-ra:RailwayYardNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayYardNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayYardNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayType" substitutionGroup="tn-ra:RailwayType" type="xtn:RailwayTypeType"/>
  <complexType name="RailwayTypeType">
    <complexContent>
      <extension base="tn-ra:RailwayTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayTypePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayElectrification" substitutionGroup="tn-ra:RailwayElectrification" type="xtn:RailwayElectrificationType"/>
  <complexType name="RailwayElectrificationType">
    <complexContent>
      <extension base="tn-ra:RailwayElectrificationType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayElectrificationPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayElectrification"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayUse" substitutionGroup="tn-ra:RailwayUse" type="xtn:RailwayUseType"/>
  <complexType name="RailwayUseType">
    <complexContent>
      <extension base="tn-ra:RailwayUseType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayUsePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayLinkSequence" substitutionGroup="tn-ra:RailwayLinkSequence" type="xtn:RailwayLinkSequenceType"/>
  <complexType name="RailwayLinkSequenceType">
    <complexContent>
      <extension base="tn-ra:RailwayLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayLink" substitutionGroup="tn-ra:RailwayLink" type="xtn:RailwayLinkType"/>
  <complexType name="RailwayLinkType">
    <complexContent>
      <extension base="tn-ra:RailwayLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NumberOfTracks" substitutionGroup="tn-ra:NumberOfTracks" type="xtn:NumberOfTracksType"/>
  <complexType name="NumberOfTracksType">
    <complexContent>
      <extension base="tn-ra:NumberOfTracksType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NumberOfTracksPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:NumberOfTracks"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RailwayYardArea" substitutionGroup="tn-ra:RailwayYardArea" type="xtn:RailwayYardAreaType"/>
  <complexType name="RailwayYardAreaType">
    <complexContent>
      <extension base="tn-ra:RailwayYardAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RailwayYardAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RailwayYardArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
