trunk/webapps/deegree/workspace/inspire-foss/src/main/workspace/schemas/esdin/exmls/1.0/ExMLargeWaterTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-w="urn:x-inspire:specification:gmlas:WaterTransportNetwork:3.0" xmlns:xltn-w="urn:x-exml:specification:gmlas:ExMLargeWaterTransportNetwork:1.0" elementFormDefault="qualified" targetNamespace="urn:x-exml:specification:gmlas:ExMLargeWaterTransportNetwork:1.0" version="1.0">
  <import namespace="urn:x-inspire:specification:gmlas:WaterTransportNetwork:3.0" schemaLocation="WaterTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="FerryCrossing" substitutionGroup="tn-w:FerryCrossing" type="xltn-w:FerryCrossingType"/>
  <complexType name="FerryCrossingType">
    <complexContent>
      <extension base="tn-w:FerryCrossingType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerryCrossingPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-w:FerryCrossing"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WaterwayLink" substitutionGroup="tn-w:WaterwayLink" type="xltn-w:WaterwayLinkType"/>
  <complexType name="WaterwayLinkType">
    <complexContent>
      <extension base="tn-w:WaterwayLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwayLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-w:WaterwayLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Beacon" substitutionGroup="tn-w:Beacon" type="xltn-w:BeaconType"/>
  <complexType name="BeaconType">
    <complexContent>
      <extension base="tn-w:BeaconType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BeaconPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-w:Beacon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FerryUse" substitutionGroup="tn-w:FerryUse" type="xltn-w:FerryUseType"/>
  <complexType name="FerryUseType">
    <complexContent>
      <extension base="tn-w:FerryUseType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FerryUsePropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-w:FerryUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PortNode" substitutionGroup="tn-w:PortNode" type="xltn-w:PortNodeType"/>
  <complexType name="PortNodeType">
    <complexContent>
      <extension base="tn-w:PortNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-w:PortNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PortArea" substitutionGroup="tn-w:PortArea" type="xltn-w:PortAreaType"/>
  <complexType name="PortAreaType">
    <complexContent>
      <extension base="tn-w:PortAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-w:PortArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Buoy" substitutionGroup="tn-w:Buoy" type="xltn-w:BuoyType"/>
  <complexType name="BuoyType">
    <complexContent>
      <extension base="tn-w:BuoyType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuoyPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-w:Buoy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
