webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/esdin/exmls/1.0/ExMLargeAirTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-a="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" xmlns:xltn-a="urn:x-exml:specification:gmlas:ExMLargeAirTransportNetwork:1.0" elementFormDefault="qualified" targetNamespace="urn:x-exml:specification:gmlas:ExMLargeAirTransportNetwork:1.0" version="1.0">
  <import namespace="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" schemaLocation="AirTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="AerodromeArea" substitutionGroup="tn-a:AerodromeArea" type="xltn-a:AerodromeAreaType"/>
  <complexType name="AerodromeAreaType">
    <complexContent>
      <extension base="tn-a:AerodromeAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:AerodromeArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AreaodromeNode" substitutionGroup="tn-a:AerodromeNode" type="xltn-a:AreaodromeNodeType"/>
  <complexType name="AreaodromeNodeType">
    <complexContent>
      <extension base="tn-a:AerodromeNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AreaodromeNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:AreaodromeNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeCategory" substitutionGroup="tn-a:AerodromeCategory" type="xltn-a:AerodromeCategoryType"/>
  <complexType name="AerodromeCategoryType">
    <complexContent>
      <extension base="tn-a:AerodromeCategoryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:AerodromeCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ApronArea" substitutionGroup="tn-a:ApronArea" type="xltn-a:ApronAreaType"/>
  <complexType name="ApronAreaType">
    <complexContent>
      <extension base="tn-a:ApronAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ApronAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:ApronArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RunwayArea" substitutionGroup="tn-a:RunwayArea" type="xltn-a:RunwayAreaType"/>
  <complexType name="RunwayAreaType">
    <complexContent>
      <extension base="tn-a:RunwayAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RunwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:RunwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AerodromeType" substitutionGroup="tn-a:AerodromeType" type="xltn-a:AerodromeTypeType"/>
  <complexType name="AerodromeTypeType">
    <complexContent>
      <extension base="tn-a:AerodromeTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AerodromeTypePropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:AerodromeType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SurfaceComposition" substitutionGroup="tn-a:SurfaceComposition" type="xltn-a:SurfaceCompositionType"/>
  <complexType name="SurfaceCompositionType">
    <complexContent>
      <extension base="tn-a:SurfaceCompositionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SurfaceCompositionPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:SurfaceComposition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TaxiwayArea" substitutionGroup="tn-a:TaxiwayArea" type="xltn-a:TaxiwayAreaType"/>
  <complexType name="TaxiwayAreaType">
    <complexContent>
      <extension base="tn-a:TaxiwayAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TaxiwayAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:TaxiwayArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UseRestriction" substitutionGroup="tn-a:UseRestriction" type="xltn-a:UseRestrictionType"/>
  <complexType name="UseRestrictionType">
    <complexContent>
      <extension base="tn-a:UseRestrictionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UseRestrictionPropertyType">
    <sequence minOccurs="0">
      <element ref="xltn-a:UseRestriction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
