webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/esdin/exm/ExMGeographicalNames.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:xgn="urn:x-exm:specification:gmlas:ExMGeographicalNames:0.4" elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExMGeographicalNames:0.4" version="0.4">
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="../../inspire/annex1/GeographicalNames.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="GeographicalName" substitutionGroup="gn:GeographicalName" type="xgn:GeographicalNameType"/>
  <complexType name="GeographicalNameType">
    <complexContent>
      <extension base="gn:GeographicalNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeographicalNamePropertyType">
    <sequence>
      <element ref="xgn:GeographicalName"/>
    </sequence>
  </complexType>
  <element name="NamedPlace" substitutionGroup="gn:NamedPlace" type="xgn:NamedPlaceType"/>
  <complexType name="NamedPlaceType">
    <complexContent>
      <extension base="gn:NamedPlaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NamedPlacePropertyType">
    <sequence minOccurs="0">
      <element ref="xgn:NamedPlace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SpellingOfName" substitutionGroup="gn:SpellingOfName" type="xgn:SpellingOfNameType"/>
  <complexType name="SpellingOfNameType">
    <complexContent>
      <extension base="gn:SpellingOfNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpellingOfNamePropertyType">
    <sequence>
      <element ref="xgn:SpellingOfName"/>
    </sequence>
  </complexType>
</schema>
