webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/esdin/exm/ExMPhysicalWaters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
		xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0"
		xmlns:xhy-p="urn:x-exm:specification:gmlas:ExM_PhysicalWaters:0.4"
		xmlns:sr="urn:x-inspire:specification:gmlas:SeaRegions:0.0"
		elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExM_PhysicalWaters:0.4"
		version="0.4">
	<import namespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0"
			schemaLocation="../../inspire/annex1/HydroPhysicalWaters.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:SeaRegions:0.0"
			schemaLocation="../../inspire/annex1/SeaRegions.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="StandingWater" substitutionGroup="hy-p:StandingWater" type="xhy-p:StandingWaterType"/>
	<complexType name="StandingWaterType">
		<complexContent>
			<extension base="hy-p:StandingWaterType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StandingWaterPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:StandingWater"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="DamOrWeir" substitutionGroup="hy-p:DamOrWeir" type="xhy-p:DamOrWeirType"/>
	<complexType name="DamOrWeirType">
		<complexContent>
			<extension base="hy-p:DamOrWeirType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DamOrWeirPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:DamOrWeir"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Falls" substitutionGroup="hy-p:Falls" type="xhy-p:FallsType"/>
	<complexType name="FallsType">
		<complexContent>
			<extension base="hy-p:FallsType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FallsPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Falls"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="OceanRegion" substitutionGroup="sr:OceanRegion" type="xhy-p:OceanRegionType"/>
	<complexType name="OceanRegionType">
		<complexContent>
			<extension base="sr:OceanRegionType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OceanRegionPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:OceanRegion"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Crossing" substitutionGroup="hy-p:Crossing" type="xhy-p:CrossingType"/>
	<complexType name="CrossingType">
		<complexContent>
			<extension base="hy-p:CrossingType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CrossingPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Crossing"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Rapids" substitutionGroup="hy-p:Rapids" type="xhy-p:RapidsType"/>
	<complexType name="RapidsType">
		<complexContent>
			<extension base="hy-p:RapidsType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RapidsPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Rapids"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ShorelineConstruction" substitutionGroup="hy-p:ShorelineConstruction"
			 type="xhy-p:ShorelineConstructionType"/>
	<complexType name="ShorelineConstructionType">
		<complexContent>
			<extension base="hy-p:ShorelineConstructionType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShorelineConstructionPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:ShorelineConstruction"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Ford" substitutionGroup="hy-p:Ford" type="xhy-p:FordType"/>
	<complexType name="FordType">
		<complexContent>
			<extension base="hy-p:FordType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FordPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Ford"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Watercourse" substitutionGroup="hy-p:Watercourse" type="xhy-p:WatercourseType"/>
	<complexType name="WatercourseType">
		<complexContent>
			<extension base="hy-p:WatercourseType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="WatercoursePropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Watercourse"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="LandWaterBoundary" substitutionGroup="hy-p:LandWaterBoundary" type="xhy-p:LandWaterBoundaryType"/>
	<complexType name="LandWaterBoundaryType">
		<complexContent>
			<extension base="hy-p:LandWaterBoundaryType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LandWaterBoundaryPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:LandWaterBoundary"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Pipe" substitutionGroup="gml:AbstractGML" type="xhy-p:PipeType"/>
	<complexType name="PipeType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PipePropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Pipe"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="PumpingStation" substitutionGroup="gml:AbstractGML" type="xhy-p:PumpingStationType"/>
	<complexType name="PumpingStationType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PumpingStationPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:PumpingStation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Lock" substitutionGroup="hy-p:Lock" type="xhy-p:LockType"/>
	<complexType name="LockType">
		<complexContent>
			<extension base="hy-p:LockType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LockPropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Lock"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Sluice" substitutionGroup="hy-p:Sluice" type="xhy-p:SluiceType"/>
	<complexType name="SluiceType">
		<complexContent>
			<extension base="hy-p:SluiceType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SluicePropertyType">
		<sequence minOccurs="0">
			<element ref="xhy-p:Sluice"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
