webapps/deegree3/src/main/webapp/WEB-INF/workspace/schemas/esdin/exm/ExMRoadTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-ro="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" xmlns:xtn="urn:x-exm:specification:gmlas:ExMTransportNetwork:0.4" elementFormDefault="qualified" targetNamespace="urn:x-exm:specification:gmlas:ExMTransportNetwork:0.4" version="0.4">
  <import namespace="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" schemaLocation="../../inspire/annex1/RoadTransportNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="RoadArea" substitutionGroup="tn-ro:RoadArea" type="xtn:RoadAreaType"/>
  <complexType name="RoadAreaType">
    <complexContent>
      <extension base="tn-ro:RoadAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VeichleTrafficArea" substitutionGroup="tn-ro:VehicleTrafficArea" type="xtn:VeichleTrafficAreaType"/>
  <complexType name="VeichleTrafficAreaType">
    <complexContent>
      <extension base="tn-ro:VehicleTrafficAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeichleTrafficAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:VeichleTrafficArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SpeedLimit" substitutionGroup="tn-ro:SpeedLimit" type="xtn:SpeedLimitType"/>
  <complexType name="SpeedLimitType">
    <complexContent>
      <extension base="tn-ro:SpeedLimitType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpeedLimitPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:SpeedLimit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadSurfaceCategory" substitutionGroup="tn-ro:RoadSurfaceCategory" type="xtn:RoadSurfaceCategoryType"/>
  <complexType name="RoadSurfaceCategoryType">
    <complexContent>
      <extension base="tn-ro:RoadSurfaceCategoryType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadSurfaceCategoryPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadSurfaceCategory"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NumberOfLanes" substitutionGroup="tn-ro:NumberOfLanes" type="xtn:NumberOfLanesType"/>
  <complexType name="NumberOfLanesType">
    <complexContent>
      <extension base="tn-ro:NumberOfLanesType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NumberOfLanesPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:NumberOfLanes"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FunctionalRoadClass" substitutionGroup="tn-ro:FunctionalRoadClass" type="xtn:FunctionalRoadClassType"/>
  <complexType name="FunctionalRoadClassType">
    <complexContent>
      <extension base="tn-ro:FunctionalRoadClassType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunctionalRoadClassPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:FunctionalRoadClass"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadName" substitutionGroup="tn-ro:RoadName" type="xtn:RoadNameType"/>
  <complexType name="RoadNameType">
    <complexContent>
      <extension base="tn-ro:RoadNameType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNamePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadName"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadLink" substitutionGroup="tn-ro:RoadLink" type="xtn:RoadLinkType"/>
  <complexType name="RoadLinkType">
    <complexContent>
      <extension base="tn-ro:RoadLinkType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadLinkPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadLink"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ERoad" substitutionGroup="tn-ro:ERoad" type="xtn:ERoadType"/>
  <complexType name="ERoadType">
    <complexContent>
      <extension base="tn-ro:ERoadType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ERoadPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:ERoad"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FormOfWay" substitutionGroup="tn-ro:FormOfWay" type="xtn:FormOfWayType"/>
  <complexType name="FormOfWayType">
    <complexContent>
      <extension base="tn-ro:FormOfWayType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FormOfWayPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:FormOfWay"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadServiceArea" substitutionGroup="tn-ro:RoadServiceArea" type="xtn:RoadServiceAreaType"/>
  <complexType name="RoadServiceAreaType">
    <complexContent>
      <extension base="tn-ro:RoadServiceAreaType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadServiceAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadServiceArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadLinkSequence" substitutionGroup="tn-ro:RoadLinkSequence" type="xtn:RoadLinkSequenceType"/>
  <complexType name="RoadLinkSequenceType">
    <complexContent>
      <extension base="tn-ro:RoadLinkSequenceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadLinkSequencePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadLinkSequence"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadServiceType" substitutionGroup="tn-ro:RoadServiceType" type="xtn:RoadServiceTypeType"/>
  <complexType name="RoadServiceTypeType">
    <complexContent>
      <extension base="tn-ro:RoadServiceTypeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadServiceTypePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadServiceType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Road" substitutionGroup="tn-ro:Road" type="xtn:RoadType"/>
  <complexType name="RoadType">
    <complexContent>
      <extension base="tn-ro:RoadType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:Road"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadWidth" substitutionGroup="tn-ro:RoadWidth" type="xtn:RoadWidthType"/>
  <complexType name="RoadWidthType">
    <complexContent>
      <extension base="tn-ro:RoadWidthType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadWidthPropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadWidth"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadNode" substitutionGroup="tn-ro:RoadNode" type="xtn:RoadNodeType"/>
  <complexType name="RoadNodeType">
    <complexContent>
      <extension base="tn-ro:RoadNodeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNodePropertyType">
    <sequence minOccurs="0">
      <element ref="xtn:RoadNode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
